  body {
    margin: 0;
    padding: 0;
  }
/* home.css */

body {
  margin: 0;
  padding: 0;
}

.home-page {
  background-color: #121b3d;
  min-height: 100vh;
}

.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin: 0 auto;
}

.background-home {
  flex: 1;
  width: 100%;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: #121b3d;
  padding: 20px 0;
}
