/* Header styles */
.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    /* Les éléments restent bien alignés */
    align-items: center;
    padding: 1em;
    background: linear-gradient(135deg, #2c2c54, #4b0082);
    /* Mélange de bleu nuit et violet */
    color: white;
    height: 80px;
    /* Hauteur de la navbar */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    /* Ajoute une ombre douce */
}

/* Logo styles */
.logo {
    display: flex;
    align-items: center;
    /* Centrer l'image verticalement */
    margin-left: 10px;
    /* Décale le logo légèrement à gauche */
}

.logo img {
    max-width: 130px; /* Taille maximale du logo */
    margin-right: 20px; /* Espacement entre le logo et le texte (si nécessaire) */
    margin-bottom: 15px;
  }

/* Navbar container */
.navbar {
    display: flex;
    gap: 1.5em;
    /* Espacement entre les boutons */
    margin-right: 50px;
    /* Assure l'alignement avec le logo */
}

/* Button styles */
.btn {
    padding: 0.5em 1.5em;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.btn:hover {
    background: rgba(255, 255, 255, 0.2);
    border-color: #fff;

}

/* Bouton rond avec la première lettre */
.dropdown-btn {
    width: 50px; /* Taille du bouton */
    height: 50px;
    background-color: #2c2c54; /* Bleu nuit */
    border: none;
    border-radius: 50%; /* Bouton rond */
    color: white;
    font-size: 1.2em; /* Taille du texte */
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: center; /* Centre le texte horizontalement */
    align-items: center; /* Centre le texte verticalement */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); /* Ombre douce */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Effets au survol et clic */
  }
  
  .dropdown-btn:hover {
    background-color: #4b0082; /* Violet sombre au survol */
    transform: scale(1.1); /* Légère augmentation au survol */
  }
  
  .dropdown-btn:active {
    transform: scale(1); /* Réinitialise l'effet au clic */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); /* Ombre réduite au clic */
  }

  .user-menu {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content button {
    width: 100%;
    padding: 12px 16px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .dropdown-content button:hover {
    background-color: #f1f1f1;
  }
  
  .user-menu:hover .dropdown-content {
    display: block;
  }
  